<template name="home">
    <div id="carousel-wrapper">
        <div id="main-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(images/English-Channel.jpg)">
                    <div class="carousel-caption container">
                        <h1 class="animated rollIn">ChaCha Team</h1>
                        <p class="animated rollIn" style="font-size: 20px">We are a team of 8 girls from International Schools in Geneva, Switzerland. 6 of us will be swimming across the English Channel to raise money and awareness for Obstetric Fistula.</p>
                        <a href="#donations" id="tohash" class="animated rollIn btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>