<template name="home">
    <div id="home">
        <div id="carousel-wrapper">
            <div id="main-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active" style="background-image: url(images/English-Channel.jpg)">
                        <div class="carousel-caption container">
                            <h1 class="animated rollIn">{{_ "home-title"}}</h1>
                            <h2 class="animated rollIn">{{_ "home-subtitle"}}</h2>
                            <p class="animated rollIn" style="font-size: 20px">{{_ "home-description"}}</p>
                            <a href="#donations" id="tohash" class="animated rollIn btn btn-primary">{{_ "home-button"}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>