<template name="challenge">
    <div id="challenge" class="parallax-section">
        <div class="container">
            <div class="row">
                <div class="row" style="background-color: rgba(0, 0, 0, 0.3); border-top-left-radius: 25px; border-top-right-radius: 25px; padding:20px 20px 0px 20px;">
                    <div class="col-xs-12">
                        <h1 class="section-header">The Challenge</h1>
                        <hr/>
                        <p class="lead">The ChaCha (Channel Challenge) Team is a group of 8 students, 6 of whom are going to relay swim across the English Channel in August 2016. We will begin our crossing in Dover and finish in Calais. This is a distance of 33.2km but with the currents, we will swim about 50km. Our aim is to raise money to cure Obstetric Fistula.</p>
                        <p class="lead" style="font-size: 25px; margin-bottom: 40px;">
                            Total distance covered by the team while training until now: <strong>2400 km</strong><br>
                            Total hours swum by the team since December: <strong>350 hours</strong>
                        </p>
                    </div>
                </div>
                <div class="row" style="background-color: rgba(0, 0, 0, 0.3); border-bottom-left-radius: 25px; border-bottom-right-radius: 25px; padding:0px 20px 20px 20px;">

                    <div class="col-sm-4">
                        <h2>Channel Swimming Association Rules</h2>
                        Swimmers:
                        <ul>
                            <li>Must swim alternatively for one hour.</li>
                            <li>Must rotate in the same order.</li>
                            <li>Cannot wear a wetsuit.</li>
                            <li>Must pass a 2 hour qualifier in water below 15.5 degrees.</li>
                            <li>Can only spend 10 minutes on French land upon arrival due to border control regulations.</li>
                            <li>If one swimmer fails, the whole team is disqualified.</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h2>The English Channel:</h2>
                        <ul>
                            <li>The English Channel is approximately 33.1 Km wide</li>
                            <li>In August the temperature of the water is about 15°C</li>
                            <li>Certain areas are prone to strong currents</li>
                            <li>Swimmers often get stung by jellyfish</li>
                            <li>It is the world’s busiest seaway</li>
                            <li>More people have climbed Mount Everest than swam the Channel</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h2>The Training:</h2>
                        <ul>
                            <li>Outdoor training in lake geneva to get used to the cold</li>
                            <li>Indoor training, at the moment 15km per week but this amount will gradually increase as we get closer to the</li> date of the crossing
                            <li>Night swims in the lake as some of us will have to swim at night in the Channel</li>
                            <li>Our coaches are Kevin Murphy who has crossed the Channel 34 times, which is more than any other man in history, and Kathy Batts, who has relay swum the Channel 14 times.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>