#challenge {
    background-color:#bfbfbf;
    background-image:url(../images/sea swimmer.jpg);
    padding:55px 0;
    color: white;
}

#challenge h2 {
    margin-top: 0px;
}

#challenge .lead {
    /*font-weight:600;*/
    margin-bottom:40px;
}

#challenge .btn-primary {
    padding:14px 26px;
    margin-bottom:30px;
}


#challenge p, ul, h2 {
    /*max-width:445px;*/
    /**/
}

#challenge ul {
    list-style: square;
}