<template name="challenge">
    <div id="challenge" class="parallax-section">
        <div class="container">
            <div class="row">
                <div class="row" style="background-color: rgba(0, 0, 0, 0.3); border-top-left-radius: 25px; border-top-right-radius: 25px; padding:20px 20px 0px 20px;">
                    <div class="col-xs-12">
                        <h1 class="section-header">{{_ "challenge-heading"}}</h1>
                        <hr/>
                        <p class="lead">{{_ "challenge-main-description-1"}}</p>
                        <p class="lead stats">{{{_ "challenge-main-description-2"}}}</p>
                    </div>
                </div>
                <div class="row" style="background-color: rgba(0, 0, 0, 0.3); border-bottom-left-radius: 25px; border-bottom-right-radius: 25px; padding:0px 20px 20px 20px;">

                    <div class="col-sm-4">
                        <h2>{{_ "challenge-description-column-1-heading"}}</h2>
                        {{_ "challenge-description-column-1-text"}}
                        <ul>
                            {{{_ "challenge-description-column-1-bullets"}}}
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h2>{{_ "challenge-description-column-2-heading"}}</h2>
                        <ul>
                            {{{_ "challenge-description-column-2-bullets"}}}
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h2>{{_ "challenge-description-column-3-heading"}}</h2>
                        <ul>
                            {{{_ "challenge-description-column-3-bullets"}}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>