<template name="team">
    <div id="team" class="parallax-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>The Team</h1>
                    <hr/>
                </div>
            </div>
            <div class="row">
                {{#each member in members}}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="images/team/{{member.image}}">
                        <div class="caption">
                            <h3>{{member.name}}</h3>
                            <p>{{member.text}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>