<template name="press">
    <div id="press" class="padding-top padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="section-header">Press</h1>
                    <hr style="border-top: 1px solid gray; margin-bottom: 50px;"/>
                    <h2>Videos</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.youtube.com/embed/OYdUyJGuSWg" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.youtube.com/embed/TVx1NfKV0BM" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <h2>Articles</h2>

                    <h3>The eradication of Obstetric Fistula has now also become one of the UN’s goals: <a href="http://www.unfpa.org/obstetric-fistula">United Nations Article</a> </h3>
                    <h3>Obstetric Fistula: Modern-Day Lepers: <a href="http://www.nytimes.com/2016/03/20/opinion/sunday/the-worlds-modern-day-lepers-women-with-fistulas.html">New York Times Article</a> </h3>

                    <h2>Events</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading"><h4>20th May, 18:30 at the Rosey Concert Hall in Rolle</h4></div>
                                <div class="panel-body">
                                    <img src="images/press/rosey-concert-hall.jpg" class="img-responsive">
                                    <p>Website: <a href="http://www.roseyconcerthall.ch/en/event/do-you-speak-djembe/">www.roseyconcerthall.ch/en/event/do-you-speak-djembe</a></p>
                                    <p>Do you speak Djembe is an african concert. The proceeds of that evening will be divided between two charities, one of them is T.E.Y.Y.A.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading"><h4>22nd May, all day. Promotional day for "La traversée de la Rade”</h4></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <img src="images/press/event2.jpg" class="img-responsive" style="max-height: 300px">
                                        </div>
                                        <div class="col-xs-7">
                                            <p>The team will swim across the lake from Vengeron to Pointe à la Bise. 14 degree, no currents, 3 kilometres. More details to come.</p>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>