<template name="press">
    <div id="press" class="padding-top padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="section-header">Press</h1>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.youtube.com/embed/OYdUyJGuSWg" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.youtube.com/embed/TVx1NfKV0BM" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>The eradication of Obstetric Fistula has now also become one of the UN’s goals: <a href="http://www.unfpa.org/obstetric-fistula">United Nations Article</a> </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>Obstetric Fistula: Modern-Day Lepers: <a href="http://www.nytimes.com/2016/03/20/opinion/sunday/the-worlds-modern-day-lepers-women-with-fistulas.html">New York Times Article</a> </h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>