<template name="charity">
    <div id="charity" class="padding-top padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row header">
                        <div class="col-sm-12">
                            <h1 class="section-header">
                                The Charity: <br/>
                                <a href="http://hamlinfistula.org/about-us">Hamlin Fistula Ethiopia</a><br/>
                                <a href="http://l.facebook.com/l.php?u=http%3A%2F%2Fwww.ghananewsagency.org%2Fhealth%2Fmercy-women-s-hospital-to-become-fistula-centre-of-excellence-75348&h=1AQHWF-2M">Mercy Women’s Hospital Ghana</a><br/>
                                <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.fistulafoundation.org%2Fcountries-we-help%2Fzambia%2F&h=1AQHWF-2M">Fistula Hospital Zambia</a>
                            </h1>

                            <hr style="border-top: 1px solid black; margin-bottom: 50px;"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Obstetric fistula is a condition which affects 2 million woman in the world. Most of them are teenage girls who try to give birth too young. Their body is damage for life. They wish they would have died with their still born baby. These women can be saved from a life of shame and misery with a now routine surgery. We encourage you to donate, as any small amount will make a massive difference!</p>

                            <p>The costs for the surgery, three weeks of care in a hospital and rehabilitation are up to US$600. Only $600 to give a woman her life back.</p>

                            <p>Theodosia went to visit the hospitals in Ethiopia and Ghana. Mira and Ottavia will go to Zambia.</p>

                            <p>60% of the money raised will go to the Hamlin Fistula Hospital in Ethiopia, the largest hospital in the world that solely treats this condition, 20% will go to the Mercy Women’s Hospital in Ghana, where many women, who suffer from Obstetric Fistula, are waiting for the funds for their surgery. The remaining 20% will go to the Fistula Hospital in Zambia.</p>

                            <p>The eradication of Obstetric Fistula has now also become one of the UN’s goals.</p>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 40px;">
                        <div class="col-sm-8">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.youtube.com/embed/OYdUyJGuSWg" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h2>Articles</h2>
                            <ul style="list-style: none">
                                <li><a href="http://www.unfpa.org/obstetric-fistula">United Nations</a></li>
                                <li><a href="http://www.nytimes.com/2016/03/20/opinion/sunday/the-worlds-modern-day-lepers-women-with-fistulas.html">New York Times</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive img-rounded center-block" src="images/medical.jpg" style="height: auto; width: auto; ">
                </div>
            </div>
        </div>
    </div>
</template>