<template name="navigation">
    <header id="navigation">
        <div class="navbar main-nav" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="main.html">

                    </a>
                </div>
                <div class="top-bar">
                    <span class="contact-mail"><a href="#"><i class="fa fa-envelope-o"></i>info@chacha.team</a></span>
                </div>
                <nav class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="main.html"><span>Home</span></a></li>
                        <li><a href="#donations"><span>Donations</span></a></li>
                        <li><a href="#challenge"><span>The Challenge</span></a></li>
                        <li><a href="#charity"><span>The Charity</span></a></li>
                        <li><a href="#team"><span>The Team</span></a></li>
                        <li><a href="#gallery"><span>Gallery</span></a></li>
                        <li><a href="#contact"><span>Contact</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</template>