#navigation a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

#navigation a:focus,
#navigation a:hover {
    text-decoration: none;
    outline: none;
}